

.main_image img{
    border-radius: 0px 0px 100px 100px;
}

.main_image{
    padding-left: 0%;
    padding-top: 2%;
}


 h2{
    position: absolute;
    color: mediumblue;
    top: 5%;
    left: 46%;
}

h1{
    position: absolute;
     color: white; 
    top: 100%;
    left: 30%;
    font-size: 50px;
    background-image: linear-gradient(rgb(0, 172, 240),rgb(32, 95, 167));
    width: 600px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;

    border-radius: 100px 0px 100px 0px;
    display: flex;
    justify-content: center;

}


h3{
    position: relative;
    font-size: x-large;
    left: 35%;
    top: ;
    width: 450px;
    top: 10;
    display: flex;
    height: 30px;
    justify-content: center;
    padding-top: 0px;
    font-size: 30px;
    background-color: rgb(76, 202, 192);
     border-radius: 0px 0px 0px 0px; 
    color: white;
}
/* 
.logo_image{
    position: relative;
    width: 100px;
} */

h4{
    padding-left: 5%;
    color: gray;
}


.paragraph{
    color: aqua;
    width: 496px;
    padding-left: 5%;
    margin: 0%;
}
 
.image_child{
    position: relative;
    padding-left: 80%;
    border-radius: 0px 0px 100px 0px;
    top: 80%;
    margin: 0%;
    
} 
p{
    padding: 0%;
}

hr{
    padding-right: 10%;
    padding-left: 0%;
}

.contain_1{
    color: blue;
    padding-left: 20%;
    font-size: x-large;
}

.text_6{
    color: blue;
    padding-left: 5%;
}
